config_type: experiment
dataset:
  datasets:
  - add_bus_type: false
    case_name: case14_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: train
    task: 3.1
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case14_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 3.1
    transform: pfnet_data_mean0_var1
functional:
  config: graph_conv
  cpu: false
  is_debug: false
  run_location: dirichlet/
  run_name: graph_conv_task31_dirichlet_test
  seed: 42
  trainer_name: gnn_trainer
model:
  in_dim: 6
  hidden_dim: 128
  out_dim: 6
  n_layers: 32
  name: graph_conv
optim:
  optimizer:
    lr: 0.0001
    name: Adam
  train_params:
    batch_size: 64
    epochs: 100
    train_loss:
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
    - keyword: dirichlet_energy
      name: dirichlet_energy
      loss_name: Dirichlet Energy
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 5
    val_loss:
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
    - keyword: dirichlet_energy
      name: dirichlet_energy
      loss_name: Dirichlet Energy
