config_type: simple_batch
job_parameters:
  time: "72:00:00"
  p: "cpu-gpu-v100"
  gpus: 1
  body: "uv run __launch__"
batch_name: gen_jan0726_powerflownet_task32
dataset:
  datasets:
  - add_bus_type: false
    case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: train
    task: 3.2
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 3.2
    transform: pfnet_data_mean0_var1


  - add_bus_type: false
    case_name: case14
    normalized_case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case30
    normalized_case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case57
    normalized_case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case118
    normalized_case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case500
    normalized_case_name: case14_30_57
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  # - add_bus_type: false
  #   case_name: case2000
  #   normalized_case_name: case14_30_57
  #   model: PFNet
  #   name: pfdeltaPFNet
  #   root_dir: /mnt/home/donti-group-shared/pfdelta_data
  #   split: val
  #   task: 1.3
  #   transform: pfnet_data_mean0_var1


functional:
  config: powerflownet
  cpu: false
  is_debug: false
  run_location: gen_jan0726/task32/powerflownet
  run_name: seed_%seed_hidden_256_lr_%lr_epochs_100
  seed: _manual_list(42, 43, 44)
  trainer_name: gnn_trainer
model:
  K: 3
  dropout_rate: 0.2
  efeature_dim: 5
  hidden_dim: 256
  n_gnn_layers: 4
  name: powerflownet
  nfeature_dim: 6
  output_dim: 6
optim:
  optimizer:
    lr: _manual_list(0.0001, 0.0005, 0.001, 0.005 | 1e-4, 5e-4, 1e-3, 5e-3)
    name: Adam
  train_params:
    batch_size: 64
    epochs: 100
    train_loss:
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 5
    val_loss:
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
