config_type: simple_batch
job_parameters:
  time: "72:00:00"
  p: "cpu-gpu-v100"
  gpus: 1
  body: "uv run __launch__"
batch_name: gmf_run3_graphconv_task33
dataset:
  datasets:
  - add_bus_type: false
    case_name: case118_500_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: train
    task: 3.3
    transform: pfnet_data_mean0_var1

  - add_bus_type: false
    case_name: case118_500_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 3.3
    transform: pfnet_data_mean0_var1

  - add_bus_type: false
    case_name: case14_seeds--case118_500_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case30_seeds--case118_500_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case57_seeds--case118_500_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1

functional:
  config: graph_conv
  cpu: false
  is_debug: false
  run_location: gen_msrp_fe/run3/task33/graphconv/
  run_name: sweep_layers_%n_layers_hidden_256_lr_%lr_epochs_100
  seed: 42
  trainer_name: gnn_trainer
model:
  in_dim: 6
  hidden_dim: 256
  out_dim: 6
  n_layers: _manual_list(5, 10, 15)
  name: graph_conv
optim:
  optimizer:
    lr: _manual_list(0.0001, 0.0005, 0.001, 0.005 | 1e-4, 5e-4, 1e-3, 5e-3)
    name: Adam
  train_params:
    batch_size: 64
    epochs: 100
    train_loss:
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 5
    val_loss:
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
