config_type: simple_batch
job_parameters:
  time: "24:00:00"
  p: "cpu-gpu-v100"
  gpus: 1
  body: "uv run __launch__"
batch_name: CANOS_hyperparameter_sweep
model:
  dataset: _include_
  hidden_dim: _manual_list(128, 256, 384)
  include_sent_messages: true
  k_steps: _manual_list(60, 72, 84)
  name: canos_pf
dataset:
  datasets:
  - add_bus_type: true
    case_name: _connected_list(data -- case14_seeds, case30_seeds | bus_14, bus_30)
    model: CANOS
    name: pfdeltaCANOS
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: train
    task: 4.1
  - add_bus_type: true
    case_name: _connected_list(data -- case14_seeds, case30_seeds | bus_14, bus_30)
    model: CANOS
    name: pfdeltaCANOS
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 4.1
optim:
  lr_scheduler:
    milestones:
    - 5
    name: SequentialLR
    schedulers:
    - end_factor: 1
      name: LinearLR
      start_factor: 0.01
    - gamma: 0.9
      name: StepLR
      step_size: 4
  optimizer:
    lr: 0.0005
    name: Adam
    weight_decay: 0.0
  train_params:
    batch_size: 64
    epochs: 50
    train_loss:
    - lamb: _connected_list(lamb -- 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.1, 1.2, 1.5, 2)
      loss1: canos_pf_mse
      loss2: pf_constraint_violation
      name: combined_loss
    - model: CANOS
      name: universal_power_balance
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 2
    val_loss:
    - lamb: _connected_list(lamb -- 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.1, 1.2, 1.5, 2)
      loss1: canos_pf_mse
      loss2: pf_constraint_violation
      name: combined_loss
    - model: CANOS
      name: universal_power_balance
functional:
  config: canos_pf_jobs
  cpu: false
  is_debug: false
  run_location: runs/canos_pf_task_4_1/canos_pf_size_%case_name_constraint_%lamb_mp_layers_%k_steps_hidden_%hidden_dim
  run_name: canos_pf_size_%case_name_constraint_%lamb_mp_layers_%k_steps_hidden_%hidden_dim
  seed: 42
  trainer_name: gnn_trainer