config_type: experiment
dataset:
  datasets:
  - add_bus_type: false
    case_name: case30_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: train
    task: 3.1
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case30_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 3.1
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case118_seeds--case30_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case500_seeds--case30_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 1.3
    transform: pfnet_data_mean0_var1
functional:
  config: powerflownet
  cpu: false
  is_debug: false
  run_location: gen_msrp_fe/run2/task3.1/case30/powerflownet/
  run_name: sweep_case_30_hidden_256_lr_5e-3_epochs_100_3
  seed: 42
  trainer_name: gnn_trainer
model:
  K: 3
  dropout_rate: 0.2
  efeature_dim: 5
  hidden_dim: 256
  n_gnn_layers: 4
  name: powerflownet
  nfeature_dim: 6
  output_dim: 6
optim:
  optimizer:
    lr: 0.005
    name: Adam
  train_params:
    batch_size: 64
    epochs: 100
    train_loss:
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 5
    val_loss:
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
