config_type: experiment
dataset:
  datasets:
  - add_bus_type: false
    case_name: case14_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: train
    task: 4.1
    transform: pfnet_data_mean0_var1
  - add_bus_type: false
    case_name: case14_seeds
    model: PFNet
    name: pfdeltaPFNet
    root_dir: /mnt/home/donti-group-shared/hf_pfdelta_data
    split: val
    task: 4.1
    transform: pfnet_data_mean0_var1
functional:
  config: graph_conv
  cpu: false
  is_debug: false
  run_location: graph_conv/graph_conv_sweep_0710/
  run_name: sweep_layers_5_hidden_32_lr_1e-5_epochs_250_1
  seed: 42
  trainer_name: gnn_trainer
model:
  hidden_dim: 32
  in_dim: 6
  n_layers: 5
  name: graph_conv
  out_dim: 6
optim:
  optimizer:
    lr: 1.0e-05
    name: Adam
  train_params:
    batch_size: 64
    epochs: 250
    train_loss:
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
  val_params:
    batch_size: 64
    early_stop:
      decrease_by: 0.01
      decrease_for: 10
      needs_best_every: 15
    report_every: 5
    val_loss:
    - name: pfn_masked_mse
      regularize: false
    - name: pfn_masked_mse
      regularize: true
    - name: GNNTorchLoss
      output_name: bus__y
      torch_nn_name: MSELoss
    - model: PFNet
      name: universal_power_balance
    - keyword: pbl_pf
      loss_name: PBL Max
      name: recycle_loss
      recycled_parameter: power_balance_max
    - keyword: pbl_pf
      loss_name: PBL L2
      name: recycle_loss
      recycled_parameter: power_balance_l2
